<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   


    <h3>The list of tasks are:
        <table>
            <tr>
                <td>Task ID</td>
                <td>Name</td>
                <td>Assign To</td>
                <td>Due Date</td>
                <td>Task Status</td>        
                <td>Description</td>
            </tr>
            <% for ( var i = 0; i < lab6.length; i++) { %>
                <tr>
                    <td>
                        <%= lab6[i].taskId%>
                    </td>
                    <td>
                        <%= lab6[i].taskName %>
                    </td>
                    <td>
                        <%= lab6[i].assignTo %>
                    </td>
                  
                    <td>
                        <%= lab6[i].dueDate %>
                    </td>
                  
                    <td>
                        <%= lab6[i].taskStatus %>
                    </td>
                    <td>
                        <%= lab6[i].taskDescription %>
                    </td>
                </tr>

                <% } %>
        </table>
    </h3>
    <h3>Update</h3><br>
    <!--form to update task new status-->
    <form action="/updateStatus" method="POST">
        Task ID:<input type="number" method="POST" name="taskId" > 
        taskStatus: <select name="taskStatus">
            <option value="InProgress">InProgress</option>
            <option value="Complete">Complete</option>
        </select></br>
        <button>Update</button>
    </form>
    </br>

    <h3>Delete With ID</h3><br>
    <!--form to delete task by id-->
    <form action="/deleteWithId" method="POST">
        Task ID:<input type="number"  method="POST" name="taskId2">
        <button>Delete</button>
    </form>
    <br>
    <a href="/">Home</a><br>
    <a href="/newtask">Add New Task</a><br>
    <a href="/deleteCompletedtask">Delete Completed Task</a><br>
</body>

</html>